@media (max-width: 767px) {
  .center {
      padding-left: 16px;
      padding-right: 16px;
  }
  .top {
      display: flex;
      flex-direction: column;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-end;
      background: url(img/starsgreen1.svg), url(img/starsgreen2.svg), url(img/mobilbigstartop.svg), rgb(225, 255, 143);
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-size: 100px 67px, 100px 77px, 223px 228px;
      background-position: left 37px top 64px, bottom 79px right 34px, right top;
      position: relative;
      overflow-x: hidden;
  }
  .top-welcome {
      padding-top: 147px;
      padding-bottom: 182px;
      width: 100%;
      height: 371px;
      max-height: 700px;
      display: flex;
      align-items: center;
      align-content: center;
      gap: 36px;
  }
  .top-box {
      display: flex;
      align-content: flex-start;
      justify-content: center;
      gap: 24px;
      &__hello {
          font-size: 40px;
          font-weight: 700;
          line-height: 49px;
          text-align: center;
      }
      &__info {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          text-align: center;
      }
  }
  .ticker {
      margin-top: 131px;
      font-size: 16px;
      align-items: center;
      gap: 27.4px;
      width: auto;
      height: 51.34px;
      position: absolute;
      white-space:nowrap;
  }
  .game-block {
      display: none;
      flex-direction: column;
      flex-wrap: wrap;
  }
  .minigames {
      font-size: 40px;
      padding-left: 16px;
      padding-right: 16px;
      background: #202027;
      &__title {
          font-size: 40px;
          padding-top: 48px;
          padding-bottom: 48px;
      }
  
  }
  .game-box {
      gap: 24px;
  }
  .game {
      display: flex;
      flex-direction: column-reverse;
      &__picture {
          width: 100%;
      }
      &__right {
        flex-direction: column;
        
    }
  }
  

  .game-info {
      padding: 29.04px;
      &__description {
          padding-top: 16px;
          padding-bottom: 32px;
          font-size: 16px;
          width: 285px;
          padding-bottom: 32px;
          line-height: 19.5px;
      }
      &__subtitle {
          font-size: 32px;
          width: 284px;
          line-height: 39.01px;
      }
      &__play {
          height: 55px;
          font-size: 16px;
          max-width: 100%;
          width: 285px;
      }
  }
}


